* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

.row {
    margin: 10px;
}

.input-group-addon {
    padding: 1px 1px;
    font-size: 14px;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    vertical-align: middle;
}

.input {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    display: table-cell;
    padding: 6px 12px;
    border: 1px solid #ccc;
    margin: 0;
}

.suffix input {
    border-radius: 4px 0px 0px 4px;
}

.suffix .input-group-addon {
    border-left: 0;
    border-radius: 0px 4px 4px 0px;
}

.prefix input {
    border-radius: 0px 4px 4px 0px;
}

.prefix .input-group-addon {
    border-right: 0;
    border-radius: 4px 0px 0px 4px;
}

.presuffix input {
    border-radius: 0px;
}

.input-group-addon.prefix {
    border-radius: 4px 0px 0px 4px;
    border-right: 0;
}

.input-group-addon.suffix {
    border-radius: 0px 4px 4px 0px;
    border-left: 0;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.labelForm {
    color: rgb(134, 134, 134);
}

.h2 {
    text-align: center;
}

.inputWrapper__label {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}

.inputPhone span {
    padding: 11px 12px;
    background-color: #F9F9F9;
    margin-right: 13px;
    border-radius: 4px;
}

.inputPhone input::-moz-placeholder {
    color: rgba(0, 0, 0, 0.2);
}

.inputPhone input:-moz-placeholder {
    color: rgba(0, 0, 0, 0.2);
}

.inputPhone input:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.2);
}

.spanLink {
    color: #999999;
    font-size: 1em;
    letter-spacing: 1px;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    text-align: right;
}